:root {
  --page-width: 1263px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2b2d42;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(27, 88, 200);
}

/* Banner & Navbar */

.Banner {
  /* border: 1px solid black; */
  background-color: #2b2d42;
  overflow: auto;
  padding: 6rem;
  padding-top: 0em;
  padding-bottom: 0em;
}
.Banner h1, h2 {
  text-align: center;
  color: #edf2f4;
}
.Banner .Spacer {
  margin-left: 8rem;
  margin-right: 8rem;
  padding: 3em;
}
.Banner .Title {
  border: 1px solid white;
  margin: auto;
  width: var(--page-width);
  font-size: 2em;
}

.Navbar {
  border: 1px solid white;
  width: var(--page-width);
  margin: auto;
}
.Navbar li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Navbar ul {
  padding: 0;
  padding-top: 1em;
  margin-left: .5em;
  margin-right: .5em;
  border: 1px solid white;
  width: 15em;
  height: 2em;
  color: white;
  text-align: center;
  font-size: 2em
}



/* Footer */

.Footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20%;
  background-color: #2b2d42;
  color: white;
  text-align: center;
  font-size: .75em;
}
.Footer tr {
  display: flex;
  justify-content: space-around;
}

.Footer ul {
  text-align: left;
}
.Footer-content {
  margin: auto;
  width: var(--page-width);
}

/* beige area */

.Main-content {
  background-color: #fdf0d5;
  padding: 20rem;
  padding-top: 5em;
  padding-bottom: 20em;

}
.Main-content p {
  text-align: center;
  font-size: 18px;
}
.Main-content h1 {
  text-align: center;
  font-size: 50px;
}
.Main-content h2 {
  text-align: right;
  font-size: 28px;
  color: black;
}


/* calendar widget */

.Calendar {
  border: 1px solid black;
  height: 30rem;
  margin-top: 6em;
}
.Calendar .Calendar-title {
  border: 1px solid black;
  padding-left: 1em;
}

/* Photo/description */

.Headshot {
  border: 1px solid black;
  height: 20rem;
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 2em;
}
/* .Headshot .Headshot-photo {
  border: 1px solid black;

} */
.Headshot h1 {
  color: black;
  text-align: right;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}
.Headshot img {
  object-fit: contain;
  width: 340px;
  height: 340px;
  border-radius: 100%;
}

/* Class card */

.Class-card {
  border:1px solid black;
  height: 28rem;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 6em;
}
.Hover-container {
  position: relative;
  width: 50%;
}
.Class-card .Left img {
  display: block;
  width: 280px;
  height: 280px;
  padding: 4em;
}
.Overlay {
  margin: 4em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
  width: 280px;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.Hover-container:hover .Overlay {
  opacity: 50%
}
.Text p {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.Class-card right {
  display: grid;
  grid-template-rows: 50% 50%;
}
.Class-card .Descriptions, .Portraits {
  height: 20%;
  text-align: right;
  padding-right: 2em;
}

.Portraits {
  display: flex;
  justify-content: space-evenly;
}
.Portraits img, p {
  width: 100%;
  padding: 1em;
}

.Instructor {
  width: 152px;
}